*{
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  height: 100%;
  background-color: #f4f4f4;
}
fieldset,
img {
  border: 0;
}

ol,
ul {
  list-style: none;
}

em {
  font-style: normal;
}

input,
button,
select,
textarea {
  outline: none;
}
#app {
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
::-webkit-scrollbar{
  width:6px;
  height:6px;
  background-color: rgba(186, 186, 186,0);
}
::-webkit-scrollbar-thumb{
  background-color:rgba(186, 186, 186,1);
  border-radius:10px;
}
  ::-webkit-scrollbar-track{background-color:transparent; 
}
//按钮样式
.el-button {
  border-radius: 2px;
}
//卡片
.el-card__body {
  padding: 0;
}

.el-pagination {
  text-align: right;
}

//滚动
.el-scrollbar__bar {
  z-index: 10;
}

//右侧淡入样式
.slide-fade-enter-active {
  transition: all 1s ease;
}

.slide-fade-enter {
  transform: translateX(10px);
  opacity: 0;
}

.el-form-item {
  margin-bottom: 20px;

  .el-input__inner {
    // width: 200px;
    background: #FFFFFF;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-sizing: border-box;
  }

  .el-range-editor.el-input__inner {
    width: 350px;
  }
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 200px;
}
.el-card__body{
  --el-card-padding: 10px 20px;
  // padding:var(--el-card-padding);
}
.el-table {
  margin-bottom: 16px;
}

p {
  text-align: justify;
  text-justify: distribute;
}

//为了使文本段落左右两边对齐
p {
  word-wrap: break-word
}